


.superHeroesContainer {
    padding: 20px;
    padding-bottom: 35px;
    border: 2px solid #caa8f7;
    border-radius: 10px;
    text-align: center;
    background-color: #e481dc;
    margin: 10px;

}

.superHeroes {
    font-weight: bold;
    border-radius: 15%;
}

.valueName {
    font-weight: bold;
    color: blueviolet;
}


.img_hero {
    width: 50%;
    border-radius: 15px;
}


